Repository NHSDigital/prescriptionsforpatients: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-getMyPrescriptions, lint-splunkProcessor, lint-middleware

lint-getMyPrescriptions:
  name: Lint getMyPrescriptions
  entry: npm
  args:
  - run
  - --prefix=packages/getMyPrescriptions
  - lint
  language: system
  pass_filenames: false

lint-splunkProcessor:
  name: Lint Splunk Processor
  entry: npm
  args:
  - run
  - --prefix=packages/splunkProcessor
  - lint
  language: system
  pass_filenames: false

lint-middleware:
  name: Lint Middleware
  entry: npm
  args:
  - run
  - --prefix=packages/middleware
  - lint
  language: system
  pass_filenames: false

Removed long form ids and meta.lastupdated from OAS
  packages/specification/examples/GetMyPrescriptions/Bundle/success.json
  packages/specification/prescriptionsforpatients.yaml
Due: none

AEA-3191 Get NHS number from Identity Token (#99)
  packages/getMyPrescriptions/src/app.ts
Due: lint-getMyPrescriptions

AEA-3248 _status Endpoint (#87)
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  .pre-commit-config.yaml
  .vscode/prescriptionsforpatients.code-workspace
  Makefile
  README.md
  package-lock.json
  package.json
  packages/getMyPrescriptions/src/app.ts
  packages/getMyPrescriptions/src/global.d.ts
  packages/getMyPrescriptions/tests/test-handler.test.ts
  packages/statusLambda/.eslintrc
  packages/statusLambda/.vscode/settings.json
  packages/statusLambda/jest.config.ts
  packages/statusLambda/package.json
  packages/statusLambda/src/app.ts
  packages/statusLambda/tests/test-handler.test.ts
  packages/statusLambda/tsconfig.json
  sandbox_template.yaml
  template.yaml
Due: lint-getMyPrescriptions

AEA-3383 Removed elements from OAS that aren't needed (#98)
  packages/specification/examples/GetMyPrescriptions/Bundle/success.json
  packages/specification/prescriptionsforpatients.yaml
  packages/specification/schemas/extensions/DMPerformerSiteType.yaml
  packages/specification/schemas/extensions/DispensingInformation.yaml
  packages/specification/schemas/extensions/MedicationRepeatInformation.yaml
  packages/specification/schemas/fragments/address.yaml
  packages/specification/schemas/fragments/codes.yaml
  packages/specification/schemas/fragments/dosageInstruction.yaml
  packages/specification/schemas/fragments/identifiers.yaml
  packages/specification/schemas/resources/MedicationRequest.yaml
  packages/specification/schemas/resources/OrganisationDispensing.yaml
  packages/specification/schemas/resources/OrganisationPrescribing.yaml
  packages/specification/schemas/resources/Practitioner.yaml
  packages/specification/schemas/resources/PractitionerRole.yaml
Due: none

no limit on dependabot
  .github/dependabot.yml
Due: none

Update MedicationRequest.yaml
  packages/specification/schemas/resources/MedicationRequest.yaml
Due: none

no limit on dependabot (#112)
  .github/dependabot.yml
Due: none

get nhs number correctly
  packages/getMyPrescriptions/src/app.ts
Due: lint-getMyPrescriptions

adds postman readme
  postman/README.md
Due: none

updates status return type
  packages/statusLambda/src/app.ts
Due: none

updates postman collection
  postman/prescriptions_for_patients.postman_collection.json
Due: none

removes pr from _status postman call
  postman/prescriptions_for_patients.postman_collection.json
Due: none

get nhs number correctly (#114)
  packages/getMyPrescriptions/src/app.ts
Due: lint-getMyPrescriptions

AEA-3248 _status Endpoint (#115)
  packages/statusLambda/src/app.ts
  postman/README.md
  postman/prescriptions_for_patients.postman_collection.json
Due: none

framework for calling spine
  .vscode/prescriptionsforpatients.code-workspace
  Makefile
  cloudformation/ci_resources.yml
  package-lock.json
  package.json
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/app.ts
  packages/spineClient/.eslintrc
  packages/spineClient/package.json
  packages/spineClient/src/index.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/src/models/spine.ts
  packages/spineClient/src/sandbox-spine-client.ts
  packages/spineClient/src/spine-client.ts
  packages/spineClient/src/status.ts
  packages/spineClient/tsconfig.json
  template.yaml
Due: lint-getMyPrescriptions

wip talk to spine
  package-lock.json
  packages/sandbox/package.json
  packages/sandbox/src/app.ts
  packages/sandbox/tsconfig.json
  packages/statusLambda/package.json
  packages/statusLambda/src/app.ts
  packages/statusLambda/tests/test-handler.test.ts
  packages/statusLambda/tsconfig.json
  template.yaml
Due: none

fix build and test
  packages/getMyPrescriptions/src/app.ts
  packages/sandbox/jest.config.ts
  packages/statusLambda/jest.config.ts
  packages/statusLambda/tests/test-handler.test.ts
  packages/statusLambda/tsconfig.json
  template.yaml
Due: lint-getMyPrescriptions

fix build
  template.yaml
Due: none

get spine details in status lambda
  package-lock.json
  packages/statusLambda/package.json
  packages/statusLambda/src/app.ts
Due: none

updates getMyPrescriptions references to Bundle
  README.md
  postman/README.md
  postman/prescriptions_for_patients.postman_collection.json
  sandbox_template.yaml
  template.yaml
Due: none

AEA-3401 Endpoint should be GET /Bundle not getMyPrescriptions (#117)
  README.md
  postman/README.md
  postman/prescriptions_for_patients.postman_collection.json
  sandbox_template.yaml
  template.yaml
Due: none

Update GetMyPrescriptions OAS file to include a multiple prescription example
  packages/specification/examples/GetMyPrescriptions/Bundle/success-multiple.json
  packages/specification/prescriptionsforpatients.yaml
Due: none

AEA-3364 Update GetMyPrescriptions OAS file to include a multiple prescription example (#118)
  packages/specification/examples/GetMyPrescriptions/Bundle/success-multiple.json
  packages/specification/prescriptionsforpatients.yaml
Due: none

pass variables to status lambda
  template.yaml
Due: none

use mutual tls for spine calls
  cloudformation/ci_resources.yml
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/src/spine-client.ts
  packages/spineClient/src/status.ts
  packages/statusLambda/src/app.ts
  template.yaml
Due: none

fix tests
  packages/spineClient/src/index.ts
  packages/spineClient/src/live-spine-client.ts
  packages/spineClient/src/spine-client.ts
  packages/statusLambda/src/app.ts
Due: none

log https agent
  packages/spineClient/src/live-spine-client.ts
Due: none

really log agent
  packages/spineClient/src/live-spine-client.ts
Due: none

fix case of env variable
  packages/statusLambda/src/app.ts
Due: none

consistent tsconfigs
  packages/capabilityStatement/tsconfig.json
  packages/getMyPrescriptions/jest.config.ts
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/app.ts
  packages/getMyPrescriptions/tsconfig.json
  packages/middleware/tsconfig.json
  packages/sandbox/tsconfig.json
  packages/spineClient/src/index.ts
  packages/spineClient/tsconfig.json
  packages/statusLambda/src/app.ts
  packages/statusLambda/tsconfig.json
Due: lint-getMyPrescriptions, lint-middleware

consistent esbuild
  packages/sandbox/examples
  packages/sandbox/src/app.ts
  sandbox_template.yaml
  template.yaml
  template_splunk_firehose.yaml
Due: none

no tsconfig for splunk_firehose
  template_splunk_firehose.yaml
Due: none

working?
  .gitignore
  package-lock.json
  packages/capabilityStatement/.eslintrc
  packages/capabilityStatement/package.json
  packages/capabilityStatement/src/app.ts
  packages/capabilityStatement/tsconfig.json
  packages/getMyPrescriptions/.eslintrc
  packages/getMyPrescriptions/package.json
  packages/getMyPrescriptions/src/app.ts
  packages/getMyPrescriptions/tsconfig.json
  packages/middleware/.eslintrc
  packages/middleware/package.json
  packages/middleware/tsconfig.json
  packages/sandbox/.eslintrc
  packages/sandbox/package.json
  packages/sandbox/src/app.ts
  packages/sandbox/tests/test-handler.test.ts
  packages/sandbox/tsconfig.json
  packages/spineClient/.eslintrc
  packages/spineClient/package.json
  packages/spineClient/tsconfig.json
  packages/statusLambda/.eslintrc
  packages/statusLambda/package.json
  packages/statusLambda/src/app.ts
  packages/statusLambda/tsconfig.json
  template.yaml
  tsconfig.build.json
  tsconfig.json
Due: lint-getMyPrescriptions, lint-middleware

fix tests
  Makefile
  packages/spineClient/package.json
  packages/spineClient/tsconfig.json
  tsconfig.build.json
Due: none

fix sam-build
  Makefile
  packages/spineClient/package.json
  sandbox_template.yaml
Due: none

use esm module for build
  packages/splunkProcessor/tsconfig.json
  sandbox_template.yaml
  template.yaml
  template_splunk_firehose.yaml
Due: lint-splunkProcessor

add crypto
  tsconfig.json
Due: none

Path conditions:
  lint-getMyPrescriptions: any of: ^packages\/getMyPrescriptions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-splunkProcessor: any of: ^packages\/splunkProcessor and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middleware: any of: ^packages\/middleware and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
